<div *ngIf="fetched">
  <div id="pdf" #pdf>
    <h2 style="display: flex; justify-content: center; align-items: center; padding-top: 2rem; font-size:xx-large;">{{details.name}}</h2>
    <div *ngIf="details.gender==='M'">
      <h2 style="display: flex; justify-content: left; padding-left: 2rem; font-size:x-large;">Gender : Male</h2>
    </div>
    <div *ngIf="details.gender==='F'">
      <h2 style="display: flex; justify-content: left; padding-left: 2rem; font-size:x-large;">Gender : Female</h2>
    </div>
    <h2 style="display: flex; justify-content: left; padding-left: 2rem; font-size:x-large;">Date of Birth : {{details.dob}}</h2>
    <h2 style="display: flex; justify-content: left; padding-left: 2rem; font-size: x-large;">Mobile Number : {{details.mobile}}</h2>
    <h2 style="display: flex; justify-content: left; padding-left: 2rem; font-size: x-large;">Class X Marksheet</h2>
    <!--<div style="display: flex; justify-content: center; align-items: center; border: 2pt solid black;">
    <table class="table" style="padding-top: 5rem;">
      
      <tbody>
      <div *ngFor="let data of parsedData">
        <tr *ngFor="let item of data">
        <div *ngIf="doesMatchPattern(item, '^(20\\d{2}|19\\d{2})')">
           <td>Year of Passing:</td>
           <td> {{ item }}</td>
        </div>
        <div *ngIf="containsSchoolOrCollege(item)">
          <div  *ngIf="decode(item) as dec">
          <td>Name of School or College</td>
          <td> {{ dec }}</td>
          </div>
        </div>
        <div *ngIf="index(item)">
          <td>Index Number</td>
          <td>{{item}}</td>
        </div>
        <div *ngIf="roll(item)">
          <td>Roll Number</td>
          <td>{{item}}</td>
        </div>
        <div *ngIf="resultDate(item)">
          <td>Date of declaration of results</td>
          <td>{{item}}</td>
        </div>
        <div *ngIf="pass(item)">
          <td>Result</td>
          <td>PASS</td>
        </div>
        <td>{{item}}</td>
        </tr>
      </div>
      </tbody>
    </table>
    </div>
  </div>-->

  <table class="table" style="padding-top: 5rem;">
    <tr>
      <td>Issuer Organization</td>
      <td>Council for the Indian School Certificate Examination (CISCE)</td>
    </tr>
    <tr>
      <td>Year of Passing</td>
      <td>2017</td>
    </tr>
    <tr>
      <td>Roll Number</td>
      <td>6467026</td>
    </tr>
    <tr>
      <td>Index Number</td>
      <td>1173384/291</td>
    </tr>
    <tr>
      <td>ENGLISH</td>
      <td>HINDI</td>
      <td>HISTORY, CIVICS AND GEOGRAPHY(HCS-A GEO-A)</td>
      <td>SCIENCE(PHY-A, CHE-A, BIO-A)</td>
      <td>MATHEMATICS</td>
      <td>COMPUTER APPLICATIONS</td>
    </tr>
    <tr>
      <td>89</td>
      <td>90</td>
      <td>94</td>
      <td>91</td>
      <td>90</td>
      <td>99</td>
    </tr>
    <tr>
      <td>Name of School</td>
      <td>Boys' High School and College</td>
    </tr>
    <tr>
      <td>Result</td>
      <td>PASS</td>
    </tr>
  </table>
  <h2 style="display: flex; justify-content: left; padding-left: 2rem; font-size: x-large;">Class XII Marksheet</h2>
  <table class="table" style="padding-top: 5rem;">
    <tr>
      <td>Issuer Organization</td>
      <td>Council for the Indian School Certificate Examination (CISCE)</td>
    </tr>
    <tr>
      <td>Year of Passing</td>
      <td>2019</td>
    </tr>
    <tr>
      <td>Roll Number</td>
      <td>6467026</td>
    </tr>
    <tr>
      <td>Index Number</td>
      <td>2192622/103</td>
    </tr>
    <tr>
      <td>ENGLISH</td>
      <td>HINDI</td>
      <td>PHYSICS</td>
      <td>CHEMISTRY</td>
      <td>MATHEMATICS</td>
    </tr>
    <tr>
      <td>90</td>
      <td>84</td>
      <td>86</td>
      <td>81</td>
      <td>93</td>
    </tr>
    <tr>
      <td>Name of School</td>
      <td>Boys' High School and College</td>
    </tr>
    <tr>
      <td>Result</td>
      <td>PASS</td>
    </tr>
  </table>
  <div style="display: flex; justify-content: center; padding: 2rem;">
  <button *ngIf="showbutton"  (click)="download()" type="button" class="btn btn-primary">
    Download PDF
  </button>
  </div>
</div>

<div *ngIf="!fetched">
  <p>Data is being fetched</p>
</div>